/*-- scss:defaults --*/


/*-- scss:rules --*/

.slide-background:first-child {
  background-image: url(../../../../../images/logoiiasa.png), url(../../../../../images/image8.png);
  background-repeat: no-repeat;
  background-position: 6% 8%, 50% 80%;
  background-size: 25%;
}

